:host {
  display: block;

  markdown {
    display: block;
  }

  .header {
    display: flex;
    height: 4rem;
    margin-bottom: 4.5rem;
    padding: 0 1rem;
    align-items: center;
  }

  .title {
    font-weight: bold;
    font-size: 1.25rem;
  }
  .description {
    font-size: 1.25rem;
  }

  .content {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .visualization {
      display: flex;

      .help-button {
        height: 1.65rem;
        width: 1.65rem;
        font-size: 1rem;
        background-color: white;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        border: 1px solid #aaa;
        color: #aaa;
        font-weight: bold;
        padding-top: 2px;
        margin-left: 1rem;
        cursor: pointer;
        margin-top: 6px;
        margin-left: -1px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        opacity: 0.2;
        transition: opacity 0.4s ease-in;

        &:hover {
          color: #1b1e23;
          border: 1px solid #1b1e23;
          opacity: 1;
        }
      }
    }

    .info {
      margin-top: 2rem;
    }

    mat-expansion-panel {
      mat-expansion-panel-header {
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.5rem;

        mat-icon {
          margin-right: 0.5rem;
        }
      }

      markdown {
        padding: 1rem 0.5rem 0;
      }
    }
  }
}
