:host {
  .title {
    font-weight: bold;
    color: black;
  }

  .summary {
    padding-top: 0.5em;
    padding-left: 1rem;

    .summary-item {
      display: flex;
      font-size: 0.8rem;

      .label {
        font-weight: bold;
        color: black;
        margin-right: 0.5rem;
      }

      .value {
        font-weight: lighter;
      }
    }
  }
}
